
cwdb.txt
/solving_package/grid_16_03_2023_MiniNYT/clue_solver_results/
/solving_package/grid_16_03_2023_MiniNYT/solved_candidate_grids/
/solving_package/grid_18_02_2023_Guardian/clue_solver_results/
/solving_package/grid_18_02_2023_Guardian/solved_candidate_grids/
dictionnaire.txt
/solving_package/grid_20_03_2023_MiniTWP/clue_solver_results/
/solving_package/grid_20_03_2023_MiniTWP/solved_candidate_grids/
